// @hl-grey-light: #8e908c;
// @hl-red: #c82829;
// @hl-purple: #b168cd;
// @hl-pink: #d35c5c;
// @hl-text: #21272d;
// @hl-cyan: #31A0B0;
// @hl-grey-dark: #4d4d4c;
// @hl-green: #46ad55;
// @hl-yellow: #C87028;
// @hl-blue: #256fb9;

.highlight,
.z-code {
  max-width: calc(100vw - var(--padding) * 2);

  @media (prefers-color-scheme: dark) {
    --hl-grey-light: #858884;
    --hl-grey-dark: var(--font-color);
    --hl-text: var(--font-color);

    // Snazzy, normal variant
    --hl-black: #282a36;
    --hl-red: #ff5c57;
    --hl-green: #5af78e;
    --hl-yellow: #f3f99d;
    --hl-blue: #57c7ff;
    --hl-purple: #ff6ac1;
    --hl-cyan: #9aedfe;
  }

  @media (prefers-color-scheme: light) {
    --hl-grey-light: #8e908c;
    --hl-red: #c82829;
    --hl-purple: #b168cd;
    --hl-pink: #d35c5c;
    --hl-text: #21272d;
    --hl-cyan: #31a0b0;
    --hl-grey-dark: #4d4d4c;
    --hl-green: #46ad55;
    --hl-yellow: #c87028;
    --hl-blue: #256fb9;
  }
}

p {
  code {
    background-color: var(--inline-code-background);
    color: var(--blue-dark);
    padding: 2px 4px;
    border-radius: 3px;
    word-wrap: break-word;
  }
}

pre,
code {
  @extend .font-mono;

  font-size: 0.8rem;

  @media screen and (min-width: var(--site-width-desktop)) {
    font-size: 15px;
  }
}

pre {
  margin: var(--spacing) 0;
  background-color: var(--code-background);
  border-radius: var(--border-radius-small);
  overflow-x: auto;
  tab-size: 4;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  margin: 0;
  max-width: 100%;
  line-height: 1.3em;
  white-space: pre-wrap;

  @media screen and (max-width: var(--site-width)) {
    tab-size: 2;
    -moz-tab-size: 2;
    -o-tab-size: 2;
  }

  code {
    display: block;
    white-space: pre;
    padding: var(--padding);
    tab-size: 4;
    -moz-tab-size: 4;
    -o-tab-size: 4;

    @media screen and (max-width: var(--site-width)) {
      tab-size: 2;
      -moz-tab-size: 2;
      -o-tab-size: 2;
    }
  }
}

@media (max-width: 480px) {
  .highlight,
  .z-code {
    tab-size: 2;
    letter-spacing: -0.5px;
  }
}
