@import "./variables.scss";
@import "./header.scss";
@import "./list.scss";
@import "./highlight.scss";
@import "./post.scss";
@import "./footer.scss";
@import "./cv.scss";

// https://stackoverflow.com/questions/3226001/some-font-sizes-rendered-larger-on-safari-iphone
@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}

* {
  box-sizing: border-box;
}

body,
html {
  font-size: 12pt;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica-Neue", helvetica, sans-serif;
  color: var(--font-color);
  background-color: var(--bg-color);
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;

  @media screen and (max-width: var(--site-width)) {
    display: block;
    padding: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald;
  padding: 0;
  margin: var(--spacing) 0;
  font-weight: normal;

  > img {
    font-size: 12px !important;
    font-family: sans-serif;
  }
}

h1,
h1 > a {
  color: var(--red);
}

h2,
h2 > a {
  color: var(--blue-dark);
}

h3,
h4,
h5,
h6 {
  color: var(--blue-light);

  & > a {
    color: var(--blue-light);
  }
}

a {
  text-decoration: none;
  color: var(--red);

  code {
    color: var(--red);
  }

  &:hover {
    color: var(--red-hover);
    text-decoration: underline;
  }

  &:visited {
    color: var(--red);
  }
}

hr {
  @extend .divider;
}

img {
  max-width: 100%;
}

// Kick code blocks out either side to make them wider
// div.highlight {
//   @media screen and (min-width: var(--site-width-desktop)) {
//     margin-left: calc(-100px);
//     width: calc(100% + 200px);
//   }
// }

blockquote {
  border-left: 3px solid var(--blue-light);
  margin: 0;
  padding: 0;
  padding-left: 15px;
  position: relative;

  @media screen and (min-width: var(--site-width-desktop)) {
    margin-left: 30px;

    &:before {
      content: "🤔";
      position: absolute;
      left: -30px;
      top: 0;
      font-size: 18px;
    }
  }
}

.page-content {
  max-width: var(--site-width);
  padding: 0 var(--screen-padding);
}

.box-float {
  &--left {
    @media screen and (min-width: var(--site-width-desktop)) {
      clear: right;
      float: left;
      margin-right: 20px;
    }
  }

  &--right {
    @media screen and (min-width: var(--site-width-desktop)) {
      clear: left;
      float: right;
      margin-left: 20px;
    }
  }

  &-break {
    clear: both;
  }
}

table {
  width: 100%;

  th,
  td {
    text-align: left;
    border-top: 1px solid var(--grey-light);
    padding: 2px 6px;
  }

  th {
    font-weight: bold;
  }
}
