.list {
  &__post {
    + article {
      margin-top: var(--spacing);
      .divider;
    }

    .image-holder {
      margin-top: var(--spacing);
    }

    header {
      margin-top: var(--spacing);

      h1 {
        margin: 0;
        font-size: 2em;

        @media screen and (max-width: var(--site-width)) {
          font-size: 1.5em;
        }
      }

      time {
        a {
          color: var(--blue-dark);
        }
      }

      @media screen and (max-width: var(--site-width)) {
        flex-direction: column;
        align-items: flex-start;

        time {
          margin-top: var(--spacing);
        }
      }
    }
  }

  &__post {
    &__excerpt {
      h1,
      h2,
      h3,
      h4,
      h5,
      h5 {
        display: none;
      }
    }
  }
}
