:root {
  --padding: 10px;
  --screen-padding: 15px;
  --spacing: 20px;
  --site-width: 1000px;
  --site-width-desktop: 1001px;
  --border-radius-small: 4px;

  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;

  // Colours for dark theme
  @media (prefers-color-scheme: dark) {
    --font-color: #ccc;
    --bg-color: #444;

    --grey-light: #555;
    --grey-dark: #535252;

    --red: #ff5151;
    --red-hover: #ff6b6b;
    --blue-dark: #6289ff;
    --blue-light: #8aa0e1;

    --code-background: var(--nord0);
    --inline-code-background: var(--nord0);
  }

  @media (prefers-color-scheme: light) {
    --font-color: #444;
    --bg-color: #eeeeee;

    --grey-light: #ddd;
    --grey-dark: #dcdcdc;

    --red: #a52a2a;
    --red-hover: #a54a4a;
    --blue-dark: #2a49a5;
    --blue-light: #6e8de9;

    --code-background: var(--grey-light);
    --inline-code-background: var(--grey-dark);
  }
}

.font-default {
  font-family: "Open Sans", sans-serif;
}

.font-mono {
  font-family: "Fira Mono", monospace;
}

.font-heading {
  font-family: "Oswald", sans-serif;
}

.divider {
  border: none;
  border-top: 1px solid var(--grey-light);
}
