.header {
  padding: 0 @padding;

  &__logo {
    display: flex;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
      margin-right: @spacing;
      display: inline-block;
    }
  }

  &__links {
    margin-top: @spacing;
    display: flex;
    justify-content: center;

    &__link {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      @media screen and (min-width: 480px) {
        display: block;
        flex-direction: row;
      }

      &__text {
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;

        @media screen and (min-width: 480px) {
          font-size: inherit;
          text-transform: none;
        }
      }

      > svg {
        display: inline-block;
        vertical-align: middle;
        max-width: 1.5em;
        max-height: 1.5em;

        @media screen and (min-width: 480px) {
          max-width: 1em;
          max-height: 1em;
        }
      }

      + .header__links__link {
        margin-left: 10px;

        @media screen and (min-width: 480px + 1) {
          margin-left: 20px;
        }
      }
    }
  }
}
