@import "./variables.less";
@import "./header.less";
@import "./list.less";
@import "./highlight.less";
@import "./post.less";
@import "./footer.less";

// https://stackoverflow.com/questions/3226001/some-font-sizes-rendered-larger-on-safari-iphone
@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}

body,
html {
  font-size: 12pt;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica-Neue", helvetica,
    sans-serif;
  color: @font-color;
  background-color: @bg-color;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: @site-width) {
    display: block;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald;
  padding: 0;
  margin: @spacing 0;
  font-weight: normal;

  > img {
    font-size: 12px !important;
    font-family: sans-serif;
  }
}

h1,
h1 > a {
  color: @red;
}

h2,
h2 > a {
  color: @blue-dark;
}

h3,
h4,
h5,
h6 {
  color: @blue-light;

  & > a {
    color: @blue-light;
  }
}

a {
  text-decoration: none;
  color: @red;

  code {
    color: @red;
  }

  &:hover {
    color: lighten(@red, 10%);
    text-decoration: underline;
  }

  &:visited {
    color: @red;
  }
}

hr {
  .divider;
}

img {
  max-width: 100%;
}

p {
  code {
    word-wrap: break-word;
  }
}

div.highlight {
  @media screen and (min-width: @site-width + 1) {
    margin-left: calc(-100px);
    width: calc(100% + 200px);
  }
}

pre,
code {
  .font-mono;

  font-size: 14px;

  @media screen and (min-width: @site-width + 1) {
    font-size: 0.9rem;
  }
}

blockquote {
  border-left: 3px solid @blue-light;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  position: relative;

  @media screen and (min-width: @site-width + 1) {
    margin-left: 30px;

    &:before {
      content: "🤔";
      position: absolute;
      left: -30px;
      top: 0;
      font-size: 18px;
    }
  }
}

.page-content {
  max-width: @site-width;
  padding: 0 @screen-padding;
}

.box-float {
  &--left {
    @media screen and (min-width: @site-width + 1) {
      clear: right;
      float: left;
      margin-right: 20px;
    }
  }

  &--right {
    @media screen and (min-width: @site-width + 1) {
      clear: left;
      float: right;
      margin-left: 20px;
    }
  }

  &-break {
    clear: both;
  }
}

table {
  width: 100%;

  th,
  td {
    text-align: left;
    border-top: 1px solid @grey-light;
    padding: 2px 6px;
  }

  th {
    font-weight: bold;
  }
}
