.post {
    max-width: @site-width;

    > header {
        margin-top: @spacing;

        @media screen and (max-width: @site-width) {
            padding: 0 @screen-padding;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 2em;
        }

        @media screen and (max-width: @site-width) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__text {
        @media screen and (max-width: @site-width) {
            padding: 0 @screen-padding;
        }
    }

    &__feature-image {
        max-height: 50vh;
        background-size: cover;
        background-position: center center;

        img {
            visibility: hidden;
        }
    }
}
