.post {
    max-width: @site-width;

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {

    }

    &__feature-image {
        min-height: 50vh;
        max-height: 500px;
        width: 100%;
        background-size: cover;
        background-position: center center;
        margin-bottom: @spacing;
    }
}
