<footer role="contentinfo" class="footer">
  <a rel="me" href="https://mastodon.social/@jamwaffles">&nbsp;</a>

  <div class="inner">
    <div class="footer__bio">
      {% if config.extra.logo %}
      <div class="footer__logo">
        <a href="{{ config.base_url }}">
          <img src="{{ get_url(path = "images/logo-220-circle.png") }} alt="{{ config.extra.title }}" />
        </a>
      </div>
      {% endif %}

      <div class="footer__bio__text">{{ config.extra.description }}</div>
    </div>

    <div class="footer__links">
      <a href="{{ config.base_url }}">{{ config.extra.title }}</a>

      <a
        href="/atom.xml"
        id="btn_feed"
        class="btn"
        title="Feed"
        target="_blank"
      >
        <span aria-hidden="true" data-icon=")"></span>
        RSS Feed
      </a>

       <!-- <a
        href="https://mastodon.social/@jamwaffles"
        class="btn"
        title="@jamwaffles on Mastodon"
        target="_blank"
      >
        <span aria-hidden="true" data-icon=")"></span>
        Mastodon
      </a>-->

      <span>Published with <a href="https://www.getzola.org">Zola</a></span>
    </div>
  </div>
</footer>
