<header role="banner">
<div class="wrap">
  <h1>
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  </h1>
  <hr>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Waples text header -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-9102352127325398"
       data-ad-slot="5352246466"
       data-ad-format="link"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <!--
    <nav class="site-nav">
    <div class="trigger">
    {% for page in site.pages %}
    {% if page.title %}
    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
    {% endfor %}
    </div>
    </nav>
  -->
</div>
</header>
