{% extends "default.html" %} {% block content %}

<article role="main" class="post cv">
  <div class="post__text" id="js-post-content">
    <aside class="cv__contact">
      <ul>
        <li><a href="mailto:james@wapl.es">james@wapl.es</a></li>
        <li>+44 7714 774 508</li>
        <li>
          <a target="_blank" href="https://github.com/jamwaffles">https://github.com/jamwaffles</a>
        </li>
        <li><a target="_blank" href="https://wapl.es">https://wapl.es</a></li>
        <li>English: Native speaker</li>
        <li>German: Basic</li>
      </ul>
    </aside>

    <div class="cv__name">
      <h1>James Waples</h1>
      <h2>Experienced Rust developer</h2>
      <h2>Edinburgh, Scotland</h2>
    </div>

    <div class="cv__description">
      <p>
        Hi, I'm James, a Rust, electronics and CNC enthusiast. I've been programming for about 20
        years since I was 10 years old, starting with 8 bit assembler, Visual Basic and C. I started
        my professional career at 18 with a PHP web development role and slowly moved towards the
        JavaScript/Typescript ecosystem as it grew around the popularity of libraries like React. My
        work now revolves around the wonderful Rust programming language, gladly using it both
        professionally and in open source to write high quality code for various environments.
      </p>

      <p>
        I'm motivated by engaging software problems, challenging optimisations, interesting
        performance debugging and making a polished product for people to use. I strongly believe we
        work best in a team, each of us adding to something greater than the sum of parts.
      </p>

      <p>
        I also have a strong interest in electronics. It was a quick discovery after computers and
        has become a long running hobby, most recently using Rust on STM32 microcontrollers.
      </p>

      <p>
        Melding electronics and programming lead me to discover the expensive yet fascinating world
        of DIY CNC machines, myself having built at least 5 of improving capabilities (and heft)
        over time. It's a great escape from the keyboard to step into the workshop and make
        something in the physical world.
      </p>
    </div>

    <h1>Open source projects</h1>

    <ul class="cv__oss">
      <li>
        <p>
          <a target="_blank" href="https://github.com/ethercrab-rs/ethercrab"
            >https://github.com/ethercrab-rs/ethercrab</a
          >
          - EtherCrab is a pure-Rust EtherCAT master runtime born of the frustrations of working
          with existing C-based libraries. It's an interesting introduction to the world of
          industrial automation and German beaurocracy when applying for (and receiving) EtherCAT
          organisation membership.
        </p>
      </li>

      <li>
        <p>
          <a target="_blank" href="https://github.com/jamwaffles/linuxcnc-hal-rs"
            >https://github.com/jamwaffles/linuxcnc-hal-rs</a
          >
          - Rust bindings and a high level API to allow writing Rust modules for the popular open
          source LinuxCNC motion controller.
        </p>
      </li>

      <li>
        <p>
          <a target="_blank" href="https://github.com/embedded-graphics/embedded-graphics"
            >https://github.com/embedded-graphics/embedded-graphics</a
          >
          - A graphics library for embedded applications using no dynamic allocation, with
          primitives, fonts and image support. I'm proud to say it has over 400,000 downloads and a
          vibrant community around it.
        </p>
      </li>
    </ul>

    <h1>Work history</h1>

    <ul class="cv__work-history">
      <li>
        <h3>
          Senior Developer at Moixa Technology / Lunar Energy
          <time>August 2021 - Present, fully remote</time>
        </h3>

        <p class="cv__work-history__tags"><em>rust, embedded linux, bitbake, aws</em></p>

        <ul>
          <li>
            Maintaining and developing Rust software running on an embedded ARM Linux board to
            manage a home solar battery system, communicate with the cloud and drive various
            attached hardware devices over UART and CAN.
          </li>

          <li>
            Writing an AT-command-based Rust driver to configure and monitor a cellular modem using
            a pleasant Rust API.
          </li>

          <li>
            Creating a network monitor/failover service to ensure connectivity with the cloud in any
            given installation condition.
          </li>
        </ul>
      </li>

      <li>
        <h3>
          Full stack developer at Fluidic Analytics
          <time>March 2020 - July 2021, fully remote</time>
        </h3>

        <p class="cv__work-history__tags">
          <em>rust, postgresql, event sourcing, typescript, react, circleci</em>
        </p>

        <ul>
          <li>
            Worked with another developer to architect and implement the company's new cloud
            application from scratch using a Rust backend and Typescript/React frontend. Jira was
            used to gather and track requirements and progress.
          </li>

          <li>
            Ensured the application was compliance‐ready using an event sourcing paradigm to record
            the atomic history of actions against entities in the application. What PII and where it
            was stored was also taken into consideration to comply with GDPR regulations.
          </li>

          <li>
            Released the event sourcing machinery as an open source library for reuse in other
            applications and projects (<a href="https://github.com/jamwaffles/event-sauce/"
              >https://github.com/jamwaffles/event-sauce/</a
            >).
          </li>

          <li>
            Experimented with and implemented a granular but not too complex permission system for
            both the backend and frontend to ensure security but also clearly message to the user
            what they can and cannot do.
          </li>
        </ul>
      </li>

      <li>
        <h3>Senior/lead developer at Repositive Ltd <time>May 2018 - March 2020</time></h3>

        <p class="cv__work-history__tags">
          <em
            >typescript, rabbitmq, webpack, microservices, react, redux, rust, bioinformatics,
            docker, google‐cloud‐platform, kubernetes, sass, circleci</em
          >
        </p>

        <ul>
          <li>
            Maintained and refactored a microservice‐based backend in Typescript for our main
            product as part of the development team.
          </li>
          <li>
            Handled development and maintenance of features for the company's React‐based commercial
            website, with a focus on speed and SEO.
          </li>
          <li>
            Maintained and developed a Typescript library to make using the event‐sourcing paradigm
            easier for the dev team, learning to carefully consider the API surfaces and changes
            when bumping semver versions.
          </li>
          <li>
            Evangelised Rust within the company, producing some data‐processing tools to work
            through large amounts of bioinformatics data safely and quickly using multithreaded code
            where possible.
          </li>
          <li>
            Scratch‐built a brand new platform after a pivot, using Rust with PostgreSQL as the
            backend API, and Typescript with React and Redux in the frontend.
          </li>
          <li>
            Worked closely with the product manager to wireframe, scope and design new features for
            the platform.
          </li>
          <li>
            Worked with recruiters to hire new developers into the team when funding allowed
            expansion.
          </li>
        </ul>
      </li>

      <li>
        <h3>Developer at Cambridge Intelligence <time>September 2017 - May 2018</time></h3>

        <p class="cv__work-history__tags">
          <em
            >javascript, circleci, amazon‐web‐services, amazon‐ecs, docker, docker‐compose, mocha,
            node.js, webpack</em
          >
        </p>

        <ul>
          <li>Implement demos to help users work with the core KeyLines product.</li>
          <li>
            Help others use AWS to maintain infrastructure and perform day to day tasks and
            debugging.
          </li>
          <li>
            Lead development on an in‐house, Docker and ECS‐based tool to automatically host
            multiple in‐development branches so new features can be tested in reproducible, isolated
            environments. Responsibilities include writing and reviewing React frontend code,
            designing and maintaining AWS infrastructure.
          </li>
          <li>
            Reduce tech debt and make development faster and less painful for me and other
            developers on my team. This involved moving from LambCI to CircleCI, reducing build
            times and build system complexity and refactoring the codebase to use ES6 native modules
            instead of global variables.
          </li>
        </ul>
      </li>

      <li>
        <h3>Developer at Media Ingenuity / TotallyMoney <time>July 2014 - September 2017</time></h3>

        <p class="cv__work-history__tags">
          <em
            >reactjs, node.js, javascript, gulp, redux, nginx, postgresql, rust, babeljs, webpack,
            amazon‐web‐services</em
          >
        </p>

        <ul>
          <li>
            Architected and lead frontend development of the TM Free Eligibility Report, involving a
            universally rendered React/Redux application with authentication which integrates with a
            .NET backend API.
          </li>
          <li>
            Architected and maintained the TM Loans frontend webapp, again written with NodeJS and
            React. It originally used Flux, however I refactored it to use Redux to reduce the
            levels of technical debt present in the codebase.
          </li>
          <li>
            Developed an internal monitoring and toolbox application involving fetching data from
            various AWS APIs and displaying charts of data using D3. It used websockets for realtime
            communication.
          </li>
        </ul>
      </li>

      <!-- <li>
    <h3>Prior roles <time>2011 - 2014</time></h3>

    <p>
      I have held various fulltime and freelance roles in this time period working with web
      technologies of the time, both backend (PHP) and frontend (jQuery, React).
    </p>
  </li> -->
    </ul>
  </div>
</article>
{% endblock content %}
