{% extends "default.html" %}

{% block content %}
{% include "include/header.html" %}

<div class="page-content">
  <div class="wrapper">
    <div class="list">
      {% for page in section.pages %}
      <article class="list__post">
          {% if page.extra.image %}
              <div class="image-holder show">
                <a href="{{ page.permalink | safe }}" class="inner">
                  <picture>
                    {% set image_800 = resize_image(path=page.extra.image, width=800, op="fit_width") %}
                    {% set image_1600 = resize_image(path=page.extra.image, width=1600, op="fit_width") %}
                    {% set image_640 = resize_image(path=page.extra.image, width=640, op="fit_width") %}
                    {% set image_1280 = resize_image(path=page.extra.image, width=1280, op="fit_width") %}
                    <source media="(min-width: 800px)" srcset="{{ image_800.url }}, {{ image_1600.url }} 2x">
                    <source media="(max-width: 640px)" srcset="{{ image_640.url }}, {{ image_1280.url }} 2x">
                    <img class="post__feature-image__inner" src="{{ get_url(path=page.extra.image) }}" alt="Blog post header image decoration.">
                  </picture>
              </a>
            </div>
          {% endif %}

          <header>
            <h1><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h1>

            <time datetime="{{ page.date | date(format = '%Y-%m-%d') }}">
              <a href="{{ page.permalink | safe }}">{{ page.date | date(format = "%B %-d, %Y") }}</a>
            </time>
          </header>

          <div class="list__post__excerpt">
              <p>
                {% if page.summary -%}
                {{ page.summary | safe }}
                {% else %}
                {{ page.content | striptags | truncate(length=280) | safe }}
                {%- endif %}
              </p>
              <a href="{{ page.permalink | safe }}" class="readmore">Continue Reading</a>
          </div>
      </article>
      {% endfor %}

      {% include "include/pagination.html" %}

    </div>
  </div>
</div>

{% include "include/footer.html" %}
{% endblock content %}