{% extends "default.html" %}

{% block content %}
<div class="post__header {% if page.extra.image %}post__header--image{% endif %}">
  {% include "include/header.html" %}
</div>
{% if page.extra.image %}
<div class="post__feature-image">
  <picture>
    {% set image_1920 = resize_image(path=page.extra.image, width=1920, op="fit_width") %}
    {% set image_1600 = resize_image(path=page.extra.image, width=1600, op="fit_width") %}
    {% set image_1280 = resize_image(path=page.extra.image, width=1280, op="fit_width") %}
    {% set image_960 = resize_image(path=page.extra.image, width=960, op="fit_width") %}
    {% set image_800 = resize_image(path=page.extra.image, width=800, op="fit_width") %}
    {% set image_640 = resize_image(path=page.extra.image, width=640, op="fit_width") %}
    <source media="(min-width: 2560px)" srcset="{{ page.extra.image }}" />
    <source
      media="(min-width: 1920px)"
      srcset="{{ image_1920.url }}, {{ page.extra.image }} 2x"
    />
    <source
      media="(min-width: 1600px)"
      srcset="{{ image_1600.url }}, {{ page.extra.image }} 2x"
    />
    <source
      media="(min-width: 1280px)"
      srcset="{{ image_1280.url }}, {{ page.extra.image }} 2x"
    />
    <source
      media="(min-width: 960px)"
      srcset="{{ image_960.url }}, {{ image_1920.url }} 2x"
    />
    <source
      media="(min-width: 800px)"
      srcset="{{ image_800.url }}, {{ image_1600.url }} 2x"
    />
    <source
      media="(max-width: 640px)"
      srcset="{{ image_640.url }}, {{ image_1280.url }} 2x"
    />
    <img
      class="post__feature-image__inner"
      src="{{ page.extra.image }}"
      alt="Blog post header image decoration."
    />
  </picture>
</div>
{% endif %}

<article role="main" class="post {% if page.extra.image %}image{% endif %}">
  <header>
    <a href="{{ config.base_url }}" id="home_link">« Posts list</a>
    <div class="post__title">
      <h1>{{ page.title }}</h1>

      <time datetime="{{ page.date | date(format = '%Y-%m-%d') }}"
        ><a href="{{ page.permalink }}">{{ page.date | date(format = "%B %d, %Y") }}</a></time
      >
    </div>
  </header>

  <div class="post__text" id="js-post-content">{{ page.content | safe }}</div>

  {% include "include/footer.html" %}
</article>
{% endblock content %}
